.cart__container{
    background-color: #03b5b5;
    font-size: 24px;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    width: 190px;
}
.cart__container:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 0 #757474;
    background-color: #02cccc;
}
.cart__container:active{
    transform: translateY(-1px);
    box-shadow: 0 1px 0 #757474;
    background-color: #018a8a;
}
.added{
    background-color: #03f603;
    width: 190px;
}

.alert{
    color: #297878;
    background-color: #bffafa;
}
.loader{
    display: flex;
    justify-content: center;
}