.title{
    font-size: 30px;
    display: flex;
    margin: 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.item__title{
    font-size: 30px;
    margin-bottom: 20px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 25px;
    gap: 1px;
    max-width: 100%;
    color: #494949;
}
.item__container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 40px;
}
.link{
    cursor: pointer;
    border: 1px solid #d1d0d0;
    padding: 5px;
    border-radius: 6px;
    background-color: #eef2f3;
}
.link:hover{
    color: teal;
}
.link:active{
    color: #57e1ca;
}
