.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 60px);
    overflow: hidden;
}
.categories{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 10px;
}
.category{
    width: calc(25% - 5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: black;
    cursor: pointer;

    &:hover{
        transform: translateY(-4px);
    }
    &:active{
        transform: translateY(-2px);
    }
    transition: 0.3s;
}


.image__container{
    width: 100%;
}

.image__container img{
    height: auto;
    width: 100%;
}
.category__about{
    color: #ff4d00;
}
.motherboard{
    width: 60%;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px 30px 0 0;
}

.title {
    font-size: 2rem;
    color: #ececec;;
    text-shadow:
            0 0 5px #ff4d00,
            0 0 10px #ff4d00,
            0 0 20px #ff4d00,
            0 0 30px #ff4d00;
}

.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
    align-self: flex-end;
    width: 100%;
    justify-self: flex-end;
}

.footer .socialLink {
    color: #ff4d00;
    margin: 0 10px;
    text-decoration: none;
}

.footer .socialLink:hover {
    text-decoration: underline;
}

.loader{
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}
.logo img{
    width: 35px;
}
.logo{
    margin: 0 10px;
}