.sidebar {
    width: 190px;
    color: #c6c6c6;
    height: 100vh;
    min-height: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;

}
@media (max-width: 500px) {
    .sidebar{
        display: none;
    }
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    gap: 10px;
    padding-top: 10px;
    background-color: black;
    border-radius: 0 10px 0 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #86a8a8 #f1f1f1;
    padding-bottom: 50px;
    border-right: 2px solid #ff4d00;
    border-top: 2px solid #ff4d00;
}

.main{
    background-color: black;
    border: 2px solid #ff4d00;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    padding: 11px;
    margin-bottom: 4px;
}
.item{
    cursor: pointer;
}

.item:hover{
    text-shadow:
            0 0 5px #ff4d00,
            0 0 10px #ff4d00,
            0 0 20px #ff4d00,
            0 0 30px #ff4d00;
}
.item:active{
    transform: translateY(-2px);
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
