.btn{
    padding: 5px 15px;
    color: #ff4d00;
    font-size: 20px;
    background: transparent;
    border: 2px solid #ff4d00;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}
.btn:hover{
    text-shadow:
            0 0 5px #ff4d00,
            0 0 10px #ff4d00,
            0 0 20px #ff4d00,
            0 0 30px #ff4d00;
}
.btn:active{
    text-shadow:
            0 0 5px #ff4d00,
            0 0 10px #ff4d00,
            0 0 20px #ff4d00,
            0 0 30px #ff4d00,
            0 0 40px #ff4d00,
            0 0 50px #ff4d00;
}