.sidebar {
    width: 180px;
    background-color: #86a8a8;
    color: white;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 500px) {
    .sidebar{
        display: none;
    }
}
.main{
    border-bottom: 4px solid #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 11px;
    cursor: pointer;
}
.sidebar {
    scrollbar-width: thin;
    scrollbar-color: #86a8a8 #f1f1f1;
}
