.container{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.product__container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.product{
    width: 100%;
    margin: 10px;
    padding-left: 10px;
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.product_nav{
    width: 100%;
    padding-right: 10px;
}
.product__about{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.product__info{
    color: white;
}
.product__description{
    font-size: 22px;
    color: #c5c5c5;
}
.description{
    font-size: 22px;
    color: #ffffff;
}
.product__title{
    align-self: flex-start;
    font-size: 28px;
    color: #ececec;
    margin-bottom: 20px;
}
.rating{
    margin-bottom: 10px;
    color: white;
    font-size: 28px;
}
.reviews_count{
    margin-left: 5px;
}

.loader{
    display: flex;
    justify-content: center;
}
.buy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buy__info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}
.price{
    font-size: 30px;
    font-weight: bold;
    color: #fff6dc;
}

@media (max-width: 1050px) {
    .buy__info{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .product__container{
        flex-direction: column;
    }
    .product{
        border-left: none;
        width: auto;
    }
    .product_nav{
        position: relative;
        padding: 0;
    }
}

@media (max-width: 576px) {
    flex-direction: column;
}