.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categories__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    width: calc(100% - 120px );
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #faf1f1;
    font-size: 20px;
}
.tip{
    font-size: 28px;
    transition: 0.2s;
}
.tip:hover{
    transform: translateY(-3px);
    color: red;
}
.tip:active{
    transform: translateY(-2px);
    color: darkred;
}
.add{
    font-size: 80px;
    margin: 10px 20px;
    position: sticky;
    top: 65px;
    transition: 0.2s;
}
.add:hover{
    transform: translateY(-6px);
    color: teal;
}
.add:active{
    transform: translateY(-3px);
    color: green;
}
.change{
    font-size: 28px;
    transition: 0.2s;
}
.change:hover{
    transform: translateY(-3px);
    color: dodgerblue;
}
.change:active{
    transform: translateY(-2px);
    color: deepskyblue;
}
.title{
    margin: 5px;
    font-size: 25px;
    color: #1a7695;
}
.search{
    display: flex;
    width: 500px;
    align-items: center;
}
.search__icon{
    margin-left: 10px;
    font-size: 24px;
}
.search__icon:hover{
    color: #01698c;
}
.search__icon:active{
    color: #0181aa;
}