.page__wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}