.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.delete{
    font-size: 28px;
    transition: 0.2s;
}
.delete:hover{
    transform: translateY(-3px);
    color: red;
}
.delete:active{
    transform: translateY(-2px);
    color: darkred;
}
.add{
    font-size: 80px;
    margin: 0 20px;
    position: sticky;
    top: 65px;
    transition: 0.2s;
}
.add:hover{
    transform: translateY(-6px);
    color: teal;
}
.add:active{
    transform: translateY(-3px);
    color: green;
}
.change{
    font-size: 28px;
    transition: 0.2s;
}
.change:hover{
    transform: translateY(-3px);
    color: dodgerblue;
}
.change:active{
    transform: translateY(-2px);
    color: deepskyblue;
}