.container{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.delete{
    font-size: 50px;
    transition: 0.2s;
}
.delete:hover{
    transform: translateY(-3px);
    color: red;
}
.delete:active{
    transform: translateY(-2px);
    color: darkred;
}
.change{
    font-size: 50px;
    transition: 0.2s;
}
.change:hover{
    transform: translateY(-3px);
    color: dodgerblue;
}
.change:active{
    transform: translateY(-2px);
    color: deepskyblue;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.loader{
    display: flex;
    justify-content: center;
}