.loader{
    display: flex;
    justify-content: center;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}
.review__container{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px;
    width: 60%;
}
.add__review{
    background-color: #4ee8e8;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.add__review:hover{
    background-color: #29bfbf;
}
.add__review:active{
    background-color: #098080;
}
.add__review__container{
    color: white;
    font-size: 24px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}